.Item {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
  background: transparent;
}

.Item > a {
  display: block;
  height: 100%;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: #fff;
  border-bottom: 4px solid transparent;
  transition: all 0.3s linear;
}

.Item > a:hover,
.Item > a:active {
  background: #f1727f;
  border-bottom: 4px solid #ff4500;
}

.Item > a.Active {
  border-bottom: 4px solid #1ac8db;
}
